input {
    border: 1px solid #12ff1e;
    color : #12ff1e;
    background-color: #030e00;
    /* font-size: 1em; */
    font-family: 'Apple II';
    width: stretch;
    padding: .5em;
    margin: 0;
}