.room-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.room-container {
    margin: .4em;
    padding: .25em;
    border: 1px solid;
    border-color: #12ff1e;
}

.room-container-image {
    font-size: 6pt;
    line-height: .85em;
}

.editor-textarea {
    margin: 5px;
    margin-bottom: 10px;
    background-color: #030e00;
    color: #12ff1e;
    border-color: #12ff1e;
    font-family: 'Apple II';
}