.nav {
  border: 1px solid #12ff1e;
  color : #12ff1e;
  background-color: #030e00;
  font-size: 1em;
  font-family: 'Apple II';
  width: stretch;
  /* padding: .5em; */
  
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  justify-content: space-evenly;
}

.link {
  color : #12ff1e;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: #12ff1e;
  /* padding-left: 10px; */
  align-self: center;
  /* padding: 10px 2px 5px 2px; */
}
/* 
.nav-title:hover {
  background-color: #0e4000;
} */

.navLink {
  display: inline-block;
  color: #12ff1e;
  background-color: #030e00;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #0e4000;
}

h1 {
  font-size: 16pt;
}